/* variables */
/******************************************************************************/
:root {
  --white: #bebebe;
  --black: #2d333b;
  --blackDark: #272d34;
  --cyan: #0ee9b4;
  --cyanAlpha: rgba(14, 233, 180, 0.6);
  --fontNormal: "Source Code Pro", sans-serif;
  --fontSpecial: "Audiowide", sans-serif;
  --glow: drop-shadow(0 0 2px var(--cyanAlpha));
}

/* blocks */
/******************************************************************************/
body {
  font-family: var(--fontNormal);
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--black);
  color: var(--white);
}

/* inlines */
/******************************************************************************/
a:link:not([class]),
a:visited:not([class]) {
  color: inherit;
  text-decoration: underline;
}
a:hover:not([class]),
a:focus:not([class]),
a:active:not([class]) {
  color: var(--cyan);
  text-decoration: none;
}

/* layout */
/******************************************************************************/
.layout {
  min-height: 100vh;
  display: grid;
  grid-template:
    "main" 1fr
    "footer" 3rem;
  overflow: hidden;
}

.main {
  grid-area: main;
  display: grid;
  justify-content: center;
  align-content: start;
  padding: 2rem;
}

.footer {
  grid-area: footer;
  display: grid;
  place-content: center;
  padding: 0 2rem;
  background-color: var(--blackDark);
}
.footer_inner {
  font-size: 0.75rem;
}
.footer_inner > * {
  display: inline;
}

/* timer */
/******************************************************************************/
.timer {
  width: 18rem;
  display: grid;
  grid-gap: 3rem;
  grid-template:
    "clock" 18rem
    "controls" 4rem;
  color: var(--cyan);
}

.clock {
  grid-area: clock;
  display: grid;
  place-items: center;
  font-family: var(--fontSpecial);
}
.clock > * {
  grid-row: 1;
  grid-column: 1;
}
.progressRing {
  align-self: stretch;
  justify-self: stretch;
  filter: var(--glow);
  transform: rotate(-90deg);
}
.progressRing_bg {
  stroke: var(--blackDark);
}
.progressRing_fill {
  stroke: var(--cyan);
  transition: stroke-dashoffset 0.5s;
}
.mins {
  font-size: 6rem;
  filter: var(--glow);
  color: transparent;
  -webkit-text-stroke: 2px var(--cyan);
}
.secs {
  position: relative;
  top: 30%;
}

.controls {
  grid-area: controls;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2rem;
  place-content: center;
  align-items: center;
}
.button:hover,
.button:focus {
  filter: var(--glow);
}

/* responsive (simple) */
/******************************************************************************/
@media (min-width: 1000px) {
  :root {
    font-size: 20px;
  }
}
